<!doctype html>
<html lang="en">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>
    <script src="//code.angularjs.org/1.6.3/angular.min.js"></script>
    <script src="app.js"></script>
  </head>
<body ng-app='LunchCheck'>
   <div class="container" ng-controller="LunchCheckController">
     <h1>Lunch Checker</h1>

         <div class="form-group">
             <input id="lunch-menu" type="text" ng-model="lunchtext"
             placeholder="list comma separated dishes you usually have for lunch. (blank values not counted.)"
             class="form-control">
         </div>
         <div class="form-group">
             <button class="btn btn-default" ng-click="lunchmessage()">
                 Check If Too Much</button>
         </div>
         <div class="form-group message">
            <h3>{{ message }}</h3>
         </div>
   </div>

   <script id="__bs_script__">//<![CDATA[
       document.write("<script async src='http://HOST:3000/browser-sync/browser-sync-client.js?v=2.18.8'><\/script>".replace("HOST", location.hostname));
   //]]></script>
</body>
</html>
